# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and outputs
logs/
output.json

# Jupyter
.ipynb_checkpoints/

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# node modules (if any)
node_modules/
